openapi: 3.0.0
info:
  title: NewsAPI
  version: "1.0.0"
  description: |
    OpenAPI specification for all NewsAPI endpoints as documented at https://newsapi.org/docs/endpoints/.
    Authentication is via the `apiKey` query parameter or the `X-Api-Key` header.
servers:
  - url: https://newsapi.org
paths:
  /v2/everything:
    get:
      summary: Search every article
      description: |
        Search through every article published by over 150,000 sources in the last 5 years.
      parameters:
        - name: apiKey
          in: query
          description: Your API key. Alternatively, provide via the X-Api-Key HTTP header.
          required: true
          schema:
            type: string
        - name: q
          in: query
          description: Keywords or phrases to search for in the article title and body.
          required: false
          schema:
            type: string
        - name: qInTitle
          in: query
          description: Keywords or phrases to search for in the article title only.
          required: false
          schema:
            type: string
        - name: sources
          in: query
          description: A comma-separated string of identifiers for the news sources or blogs you want headlines from.
          required: false
          schema:
            type: string
        - name: domains
          in: query
          description: A comma-separated string of domains (eg bbc.co.uk, techcrunch.com, engadget.com) to restrict the search to.
          required: false
          schema:
            type: string
        - name: excludeDomains
          in: query
          description: A comma-separated string of domains to remove from the results.
          required: false
          schema:
            type: string
        - name: from
          in: query
          description: A date and optional time for the oldest article allowed. (e.g. 2024-01-01 or 2024-01-01T00:00:00)
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: A date and optional time for the newest article allowed.
          required: false
          schema:
            type: string
            format: date-time
        - name: language
          in: query
          description: The 2-letter ISO-639-1 code of the language you want to get headlines for.
          required: false
          schema:
            type: string
            enum: [ar, de, en, es, fr, he, it, nl, no, pt, ru, se, ud, zh]
        - name: sortBy
          in: query
          description: The order to sort the articles in. Possible options: relevancy, popularity, publishedAt.
          required: false
          schema:
            type: string
            enum: [relevancy, popularity, publishedAt]
        - name: pageSize
          in: query
          description: The number of results to return per page (request). 20 is the default, 100 is the maximum.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          description: Use this to page through the results if the total results found is greater than the page size.
          required: false
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticlesResponse'
  /v2/top-headlines:
    get:
      summary: Get top headlines
      description: |
        Returns breaking news headlines for countries, categories, and singular publishers.
      parameters:
        - name: apiKey
          in: query
          description: Your API key. Alternatively, provide via the X-Api-Key HTTP header.
          required: true
          schema:
            type: string
        - name: country
          in: query
          description: The 2-letter ISO 3166-1 code of the country you want to get headlines for.
          required: false
          schema:
            type: string
            enum: [ae, ar, at, au, be, bg, br, ca, ch, cn, co, cu, cz, de, eg, fr, gb, gr, hk, hu, id, ie, il, in, it, jp, kr, lt, lv, ma, mx, my, ng, nl, no, nz, ph, pl, pt, ro, rs, ru, sa, se, sg, si, sk, th, tr, tw, ua, us, ve, za]
        - name: category
          in: query
          description: The category you want to get headlines for.
          required: false
          schema:
            type: string
            enum: [business, entertainment, general, health, science, sports, technology]
        - name: sources
          in: query
          description: A comma-separated string of identifiers for the news sources or blogs you want headlines from.
          required: false
          schema:
            type: string
        - name: q
          in: query
          description: Keywords or phrases to search for in the article title and body.
          required: false
          schema:
            type: string
        - name: pageSize
          in: query
          description: The number of results to return per page (request). 20 is the default, 100 is the maximum.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          description: Use this to page through the results if the total results found is greater than the page size.
          required: false
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticlesResponse'
  /v2/top-headlines/sources:
    get:
      summary: Get news sources
      description: Returns the subset of news publishers that top headlines are available from.
      parameters:
        - name: apiKey
          in: query
          description: Your API key. Alternatively, provide via the X-Api-Key HTTP header.
          required: true
          schema:
            type: string
        - name: category
          in: query
          description: The category you want to get sources for.
          required: false
          schema:
            type: string
            enum: [business, entertainment, general, health, science, sports, technology]
        - name: language
          in: query
          description: The 2-letter ISO-639-1 code of the language you want to get sources for.
          required: false
          schema:
            type: string
            enum: [ar, de, en, es, fr, he, it, nl, no, pt, ru, se, ud, zh]
        - name: country
          in: query
          description: The 2-letter ISO 3166-1 code of the country you want to get sources for.
          required: false
          schema:
            type: string
            enum: [ae, ar, at, au, be, bg, br, ca, ch, cn, co, cu, cz, de, eg, fr, gb, gr, hk, hu, id, ie, il, in, it, jp, kr, lt, lv, ma, mx, my, ng, nl, no, nz, ph, pl, pt, ro, rs, ru, sa, se, sg, si, sk, th, tr, tw, ua, us, ve, za]
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourcesResponse'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
  schemas:
    ArticlesResponse:
      type: object
      properties:
        status:
          type: string
        totalResults:
          type: integer
        articles:
          type: array
          items:
            $ref: '#/components/schemas/Article'
    Article:
      type: object
      properties:
        source:
          type: object
          properties:
            id:
              type: string
              nullable: true
            name:
              type: string
        author:
          type: string
          nullable: true
        title:
          type: string
        description:
          type: string
          nullable: true
        url:
          type: string
        urlToImage:
          type: string
          nullable: true
        publishedAt:
          type: string
          format: date-time
        content:
          type: string
          nullable: true
    SourcesResponse:
      type: object
      properties:
        status:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
    Source:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        url:
          type: string
        category:
          type: string
        language:
          type: string
        country:
          type: string
security:
  - apiKeyAuth: []
